#loading {
  background-color: rgba(0, 0, 0, 0.586);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputY input {
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  width: 100%;
  font-size: 1.3rem;
  transition: all 0.3s;
}
.inputY input:focus {
  border-bottom: 5px solid #11998e;
  color: #2c3e50;
}
.inputY label {
  font-size: 20px;
  color: #2c3e50;
  font-weight: bold;
}

.btnAdd,
.btnUp {
  border: none;
  padding: 15px 30px;
  transition: all 0.3s;
  outline: none;
}
.btnAdd:hover,
.btnUp:hover {
  background-color: #11998e;
  color: whitesmoke;
}
.btnAdd:focus,
.btnUp:focus {
  outline: none;
}

table thead {
  background-color: #11998e;
  color: wheat;
}
table,
tr,
th,
td {
  border: 3px solid #11998e;
}
